

section {
  background-color: white;
  font-family: arial, sans-serif, serif;
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

img {
  width: 350px;
  height: 200px;
}

#list {
  background-image: url("https://www.bloomingtonmn.gov/sites/default/files/styles/resp_breakpoints_theme_cob_omega_desk_1x/public/images/bigstock-passports-and-visas-26063768.png?itok=hi4nje35");
  background-repeat: no-repeat;
}

#image-holder {
  float: right;
  border-style:ridge;
  border-color: red;
  border-width: 5px;
  margin-top: -65px;
  margin-right: 20px;
  padding: 10px;
  background-color: grey;
}

header > h1 {
  text-align:center;
}

table {
  text-align: center;
  margin: 0 auto;
}

#table > header > h2 {
  text-align: center;
}

.eu {
  color: green;
  background-color: yellow;
  width: 200px;
  text-align: center;
}

.na {
  color: blue;
  background-color: grey;
  width: 200px;
  text-align: center;
}

.as{
  color: red;
  background-color: blue;
  width: 200px;
  text-align: center;
}

caption {
  font-size: 23px;
  font-weight: bolder;
  font-family: cursive, arial, sans-serif;
}

nav > p, footer > p {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  background-color: aqua;
  border: 2px solid black;
}

header {
  border-bottom: 5px solid black;
  width: 200px;
  text-align: center;
  margin-left: 450px;
}

img:hover {
  border: 10px dashed black;
}

td:hover {
  border: 2px solid black;
  background-color: orange;
}
li {
  background-color: grey;
  width: 200px;
}
